body {font-family:tahoma, sans-serif;
	box-sizing:boder-box;
    background-image:url('Vietnamese-street-food.jpg');
    background-repeat: no-repeat;
    background-size:100%;
    background-attachment: fixed;
}

h1{text-align:center;
	font-family:"Lucida Sans";
	font-size: 45px;
	color:orange;
	font-weight:bold;
	}

#navi{height: 100%;
	width:200px;
	top:0;
	left:0;
	position: fixed;
	z-index: 1;
  overflow-x: hidden;
  
}

#navi a{
	color:linen;
	padding: 16px;
	text-decoration:none;
	display:block;
}

#navi a:hover {
	background-color:orange;
	
}
	

.pho {
	width:400px;
	height:300px;
	background-color:rgba(255,255,255, 0.8);
	margin:auto;
	padding:20px;
	margin-top:70px;
	border-radius:35px;
	overflow:auto;
		
}
img{float:right;
	width:180px;
	height:160px;
	object-fit:cover;
		
}

.chanem {
	width:400px;
	height:300px;
	background-color:rgba(255,255,255, 0.8);
	margin:auto;
	padding:20px;
	margin-top:70px;
	border-radius:35px;
	overflow:auto;		
}

#khung{display:flex;
		flex-direction:row;
		margin-left:200px;
}

.goicuon {width:400px;
	height:300px;
	background-color:rgba(255,255,255, 0.8);
	margin:auto;
	padding:20px;
	margin-top:70px;
	border-radius:35px;
	overflow:auto;

}
.bunbo {width:400px;
	height:300px;
	background-color:rgba(255,255,255, 0.8);
	margin:auto;
	padding:20px;
	margin-top:70px;
	border-radius:35px;
	overflow:auto;
	
}

.footer{
	
  color:linen;
  padding: 10px;
  text-align: right;

}
   
